.popup__close-btn {
  background-image: url(../../../images/Close\ Icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -42px;
  left: 438px;
  cursor: pointer;
  transition: 0.2s;
}

.popup__close-btn:hover {
  opacity: 0.6;
}
